<div class="container">
  <div style="margin-top: 100px; background: transparent !important" class="jumbotron">
    <div style="font-family: 'Pacifico', cursive">
      <p class="text-center fs-3">Search for Products</p>
    </div>
  </div>

  <div class="container"></div>
  <form action="/search/results" method="post">
    <div class="input-group">
      <input class="form-control" type="text" name="input" placeholder="Search" aria-label="Search" autofocus />
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
